.header {
  background-color: var(--color-dark);
  padding-top: 28px;
}

.header__container {
  width: 100%;
  max-height: 100px;
  padding: 0 72px;

  display: flex;
  align-items: center;
}

.header__logo img {
  width: 121px;
  height: auto;
}